body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a2c38;
  color: "#FFF";
}

.mycontainer {
  display: flex;
  flex-direction: row;
}

.mycontainer .app-container {
  margin-left: 10vw;
  width: 20vw;
  height: 80vh;
  order: 1;
}

.canvas {
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  color: #fff;
  border-radius: 0px 8px 0px 0px;
  background: #0f212e;
  order: 2;
}

.overlay-container {
  position: absolute;
  bottom: 18vh;
  left: 40vw;
  width: 36vw;
  background-color: #082537;
  pointer-events: none;
  border-radius: 5px;
  border: 1px solid #000000;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  display: none;
}

.profit-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.span-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.span-color {
  color: #fff;
}

.profit-input {
  background-color: #05121c;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .mycontainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .mycontainer .app-container {
    width: 400px;
    height: 500px;
    order: 2;
    margin-left: 0;
    position: relative;
  }

  .canvas {
    width: 400px;
    height: 310px;
    border-radius: 8px 8px 0px 0px;
    order: 1;
    margin-top: 10px;
  }

  /* .overlay-container {
    position: absolute;
    bottom: 18vh;
    left: 40vw;
    width: 36vw;
    background-color: #082537;
    pointer-events: none;
    border-radius: 5px;
    border: 1px solid #000000;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    display: none;
  }

  .profit-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
  }

  .span-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .span-color {
    color: #fff;
  }

  .profit-input {
    background-color: #05121c;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #fff;
  } */
}
